/* ======================================== */

//variables
@primary: rgba(255,255,255, 1);
@secondary : #F83C61;
@btn_alt: #fdfdfd;
@btn_sxs : #ffffff;
@btn_sxs2: fade(@btn_sxs, 45%);

/* ======================================== */

	